<main class="page-<%= pageData.template %>">
	<section class="sec-mv">
		<div class="mv-block">
			<div class="mv-block__img">
				<img src="<%= RELATIVE_PATH %>img/index/mv.jpg" alt="もっとクルマの楽しさを">
			</div>
			<div class="mv-block__heading">
				<h1 class="mv-block__heading-ttl">もっとクルマの楽しさを</h1>
				<p>
					CiNQ STOREは、モータースポーツを専門とした<br>
					情報発信を行う合同会社サンクが運営しております。
				</p>
			</div>
		</div>
	</section>
	<section class="sec-work">
		<div class="inner">
			<h2 class="c-ttl__01">
				<span class="c-ft--en">WORKS</span>
				<span class="c-ft--jp">事業一覧</span>
			</h2>
			<ul class="work-list">
				<li class="work-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/img-01.jpg" alt="メディア">
					<h3 class="work-list__ttl">メディア</h3>
				</li>
				<li class="work-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/img-02.jpg" alt="映像制作">
					<h3 class="work-list__ttl">映像制作</h3>
				</li>
				<li class="work-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/img-03.jpg" alt="プロモーション">
					<h3 class="work-list__ttl">プロモーション</h3>
				</li>
				<li class="work-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/img-04.jpg" alt="イベント企画運営">
					<h3 class="work-list__ttl">イベント企画運営</h3>
				</li>
				<li class="work-list__item">
					<img src="<%= RELATIVE_PATH %>img/index/img-05.jpg" alt="ヘルメットペイント事業">
					<h3 class="work-list__ttl">ヘルメットペイント事業</h3>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-media">
		<div class="inner">
			<h2 class="c-ttl__01">
				<span class="c-ft--en">OWNED MEDIA</span>
				<span class="c-ft--jp">オウンドメディア</span>
			</h2>
			<ul class="media-list">
				<li class="media-list__item">
					<div class="media-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/media-01.png" alt="Rally+ .net">
					</div>
					<div class="media-list__ct">
						<h3 class="media-list__ct-ttl">Rally+ .net</h3>
						<p>
							もっとラリーを楽しむためのポータルサイト
						</p>
					</div>
				</li>
				<li class="media-list__item">
					<div class="media-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/media-02.png" alt="プレイドライブWeb">
					</div>
					<div class="media-list__ct">
						<h3 class="media-list__ct-ttl">プレイドライブWeb</h3>
						<p>
							参加型モータースポーツを楽しむための応援サイト
						</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="sec-company">
		<div class="inner">
			<div class="company-block">
				<div class="company-block__ct c-txt__basic">
					<h2 class="c-ttl__01 c-fc--white c-al--l mbpc-48">
						<span class="c-ft--en mbpc-8">COMPANY</span>
						<span class="c-ft--jp">会社概要</span>
					</h2>
					<h3 class="company-block__ct-ttl">
						モータースポーツで<br>
						もっと笑顔に
					</h3>
					<p>
						合同会社サンクは、モータースポーツを専門とした情報発信を行う国内唯一の会社です。「モータースポーツの魅力を伝え、その輪を広げたい」という思いを抱いた５人で、2011年に創業しました。５人で新たなスタートを切る─それがCINQ（フランス語で５）の由来でした。 <br>
						当時は、ラリー専門誌「WRC PLUS」の編集制作を受託する編集プロダクションでしたが、2012年にモータースポーツ発展の使命感から老舗雑誌「プレイドライブ」の発行を引き継ぎ、その後「RALLY CARS」の創刊、「RALLY PLUS」の創刊と出版事業を中心に活動してきました。現在は新車情報誌、自動車アーカイブ専門誌などの編集を手がけるとともに、F1専門誌「F1速報」（三栄書房刊）の編集制作も行っています。<br>
						それら編集制作事業の一方、私たちの思い、取り組みにご理解やご賛同をいただいた自動車メーカー様、インポーター様、モータースポーツ関連企業様から、さまざまなお声がけをいただき、広報活動やイベント企画運営などのプロモーションのお手伝いもさせていただくようになりました。それらはモータースポーツだけでなく、広く自動車に関わる分野に及び、サンクの活動は大きな広がりを見せています。<br>
						これらにお応えすべく、2015年からは制作部に加え、デジタルコンテンツ事業部を新設。各企業様からのニーズにより、ウェブサイトの制作やデジタルコンテンツの提供、映像制作にもより一層力を入れています。<br>
						私たちサンクは、クルマとモータースポーツのプロフェッショナル集団を目指し、努力を続けています。いつも支えてくださる読者の皆様、クルマやモータースポーツを愛し、その発展、振興に尽くされている関係者の皆様への感謝の気持ちを常に忘れることなく、メディアや制作物などを通じてその魅力を次の世代へ伝え、モータースポーツを楽しむ人、クルマに関心を持つ人、その素晴らしさから笑顔になれる人を増やしていきたいと思っています。
					</p>
					<p>
						私たちサンクにどうぞご期待ください。
					</p>
					<span class="company-block__ct-name">
						<small>
							代表兼CEO
						</small>
						河野 亜希子
					</span>
				</div>
				<div class="company-block__img">
					<img src="<%= RELATIVE_PATH %>img/index/img-06.jpg" alt="COMPANY">
					<img src="<%= RELATIVE_PATH %>img/index/img-07.jpg" alt="COMPANY">
				</div>
			</div>

		</div>
	</section>
</main>