<main class="page-<%= pageData.template %>">
	<section class="mv-page">
		<div class="inner">
			<div class="mv-page__content">
				<h1 class="mv-page__content-ttl">ご利用ガイド</h1>
				<div class="mv-page__content-desc">以下のご利用ガイドをご確認いただき、<br>快適なショッピングをお楽しみください。</div>
			</div>
			<div class="mv-page__img">
				<img src="<%= RELATIVE_PATH %>img/support/mv.jpg" alt="ご利用ガイド" class="pc">
				<img src="<%= RELATIVE_PATH %>img/support/mv-sp.jpg" alt="ご利用ガイド" class="sp">
			</div>
		</div>
	</section>
	<section class="anchor-link">
		<div class="inner">
			<ul class="anchor-link__list">
				<li><a href="#id01" class="scroll-page">ご注文の流れ</a></li>
				<li><a href="#id02" class="scroll-page">配送方法・送料について</a></li>
				<li><a href="#id03" class="scroll-page">お支払いについて</a></li>
				<li><a href="#id04" class="scroll-page">会員登録について</a></li>
				<li><a href="#id05" class="scroll-page">返品・交換について</a></li>
				<li><a href="#id06" class="scroll-page">その他のご注意</a></li>
			</ul>
		</div>
	</section>
	<section class="support-main">
		<div class="inner">
			<div class="support-box">
				<h2 class="c-ttl__02" id="id01">ご注文の流れ</h2>
				<ul class="flow-list">
					<li class="flow-list__item">
						<div class="flow-list__img">
							<img src="<%= RELATIVE_PATH %>img/support/img-flow-01.png" alt="ご利用ガイド" class="pc">
							<img src="<%= RELATIVE_PATH %>img/support/img-flow-01-sp.png" alt="ご利用ガイド" class="sp">
						</div>
						<span class="flow-list__label"><span class="number">1.</span>商品の選択</span>
						<div class="flow-list__txt">ご希望の商品ページにて、「カートへ入れる」ボタンをクリックしてください。<br>すべての商品を選び終わりましたら、カートの中身をご確認いただき「購入手続きに進む」をクリックしてください。</div>
					</li>
					<li class="flow-list__item">
						<div class="flow-list__img">
							<img src="<%= RELATIVE_PATH %>img/support/img-flow-02.png" alt="ご利用ガイド" class="pc">
							<img src="<%= RELATIVE_PATH %>img/support/img-flow-02-sp.png" alt="ご利用ガイド" class="sp">
						</div>
						<span class="flow-list__label"><span class="number">2.</span>購入手続き画面</span>
						<div class="flow-list__txt">
							お支払い方法・配送方法・お届け先情報を入力してください。<br><br>
							※会員登録をしていただくと、次回からの情報入力が省略され、大変便利です。<br>
							すべて入力が終わりましたら「確認画面へ進む」をクリックしてください。
						</div>
					</li>
					<li class="flow-list__item">
						<div class="flow-list__img">
							<img src="<%= RELATIVE_PATH %>img/support/img-flow-03.png" alt="確認画面" class="pc">
							<img src="<%= RELATIVE_PATH %>img/support/img-flow-03-sp.png" alt="確認画面" class="sp">
						</div>
						<span class="flow-list__label"><span class="number">3.</span>確認画面</span>
						<div class="flow-list__txt">注文内容、数量、金額、お届け先情報および配達日時をご確認いただき、よろしければ「ご注文を確定する」をクリックしてください。</div>
					</li>
					<li class="flow-list__item">
						<div class="flow-list__img">
							<img src="<%= RELATIVE_PATH %>img/support/img-flow-04.png" alt="ご利用ガイド" class="pc">
							<img src="<%= RELATIVE_PATH %>img/support/img-flow-04-sp.png" alt="ご利用ガイド" class="sp">
						</div>
						<span class="flow-list__label"><span class="number">4.</span>注文完了画面</span>
						<div class="flow-list__txt">ご注文が完了いたしました。<br>ご登録のメールアドレスに確認メールをお送りしますので、ご確認ください。</div>
					</li>
				</ul>
			</div>
			<div class="support-box">
				<h2 class="c-ttl__02" id="id02">配送方法・送料について</h2>
				<div class="support-box__content">
					<div class="support-payment">
						<h3 class="support-payment__ttl">配送について</h3>
						<div class="support-payment__content">
							当社指定の配送会社にてお届けいたします。<br>ご注文受付後、通常5営業日以内に発送いたします。
						</div>
					</div>
					<div class="support-payment">
						<h3 class="support-payment__ttl">送料について</h3 class="support-payment__ttl">
						<div>
							佐川急便		全国一律600円。ただし、沖縄・離島は1,200円。<br>飛脚メール便	書籍1冊の注文時に使用。ポスト投函、お届けまで7〜14日間。
							<ul class="support-payment__note">
								<li><span>※</span>ラリプラメンバーズおよびプレイドライブ定期購読にて商品をお届けする場合は送料無料です</li>
								<li><span>※</span>イベント申し込み等、送料不要の商品は「配送なし」を選択してください。</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="support-box">
				<h2 class="c-ttl__02" id="id03">お支払いについて</h2>
				<div class="support-box__content support-box__content--02">
					<p class="mbpc-47 mbsp-24">以下のお支払い方法をご利用いただけます。ご注文画面のお支払い方法にて選択してください。</p>
					<div class="support-payment">
						<h3 class="support-payment__ttl">クレジットカード</h3 class="support-payment__ttl">
						<div>
							VISA、MASTER、DINERS、JCB、AMEXに対応。安全なイプシロン決済代行システム使用。
							<div class="support-payment__img">
								<img src="<%= RELATIVE_PATH %>img/support/payment.png" alt="ご利用ガイド">
							</div>
						</div>
					</div>
					<div class="support-payment">
						<h3 class="support-payment__ttl">銀行振込</h3 class="support-payment__ttl">
						<div>
							ご注文後、指定のみずほ銀行口座にお振込みください。振込手数料はお客様負担となります。
						</div>
					</div>
					<div class="support-payment">
						<h3 class="support-payment__ttl">コンビニ決済</h3 class="support-payment__ttl">
						<div>
							各種コンビニで24時間365日お支払いいただけます。
						</div>
					</div>
					<div class="support-box__note">
						※お支払いはご注文確定から1週間以内にお願いいたします。<br>
						　1週間以内にご入金いただけない場合は、注文をキャンセルさせていただく場合がございます。
					</div>
				</div>
			</div>
			<div class="support-box">
				<h2 class="c-ttl__02 mbpc-20 mbsp-23">領収書について</h2>
				<p>ご利用会社の利用明細書をもって、領収書に代えさせていただきます。</p>
			</div>
			<div class="support-box">
				<h2 class="c-ttl__02 mbpc-20 mbsp-23" id="id04">会員登録について</h2>
				<p>お買い物の際には、便利な会員登録をおすすめしております。<br>会員登録のメリット</p>
				<ul class="list-dots">
					<li>ご注文のたびにお名前やご住所を入力する手間が省けます。</li>
					<li>マイアカウントにてお客様情報、注文履歴等をご確認・変更いただけます。</li>
					<li>お客様情報とは別のお届け先（お勤め先、ご進物先など）も登録できます。</li>
				</ul>
			</div>
			<div class="support-box">
				<h2 class="c-ttl__02" id="id05">返品・交換について</h2>
				<div class="support-box__content support-box__content--03">
					<div class="support-payment">
						<h3 class="support-payment__ttl">お客様都合による場合</h3 class="support-payment__ttl">
						<div>
							商品の性質上、返品・交換は原則お断りしております。
						</div>
					</div>
					<div class="support-payment">
						<h3 class="support-payment__ttl">不良品および破損・汚損・異なる商品が届いた場合</h3 class="support-payment__ttl">
						<div>
							商品の品質・配送には万全を期しておりますが、万が一、破損・汚損していたり、 ご注文と異なる商品が届いた場合は返品・交換させていただきます。<br>
							商品到着後8日以内に、お電話またはお問い合わせフォームよりご連絡ください。<br>
							その後のお手続き等についてご案内いたします。<br>
							※ご使用済みやお客様責任の破損商品の返品・返金はお受けできません。
						</div>
					</div>
				</div>
			</div>
			<div class="support-box">
				<h2 class="c-ttl__02 mbpc-20 mbsp-28" id="id06">その他のご注意</h2>
				<p>
					一部商品には、販売数量制限がございます。<br>
					また、在庫がなくなり次第販売終了となりますので、ご了承ください。
				</p>
			</div>
		</div>
	</section>
	<%- include('common/_contact'); %>
</main>
